<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SLAM BOOK</title>
    <style>
        body{
            background-color: aliceblue;
            font-size: 250%;
            text-align: center;
        }
        div{
            padding: 15px;
        }
        label{
            font-size: 120%;
            margin-left: 25%;

        }
        input{
            float: right;
            margin-right: 35%;
            margin-top: 1%;
            height: 2em;
        }
        button{
            margin-top: 2%;
            font-size: 90%;
        }
    </style>
</head>
<body>
    <h2>EDIT YOUR PROFILE HERE</h2>

    <form action="/user/<%= id %>/edit" method="POST">
        <div>
            <label for="name">Name</label>
            <input type="text" id="name" name="name" value = "<%=edit.name%>" required></input>
        </div>
        <div>
            <label for="roll_no">Roll No</label>
            <input type="int" id="roll_no" name="roll_no" value= "<%= edit.roll_no %>" required>
        </div>
        <div>
            <label for="memories">About</label>
            <input type="text" id="memories" name="memories" value= "<%= edit.memories %>" required>
        </div>
        <div>
            <label for="department">Department</label>
            <input type="text" id="department" name="department" value= "<%= edit.department %>" required>
        </div>
        <div>
            <label for="hostel">Hostel</label>
            <input type="text" list="hostels" id="hostel" name="hostel" value= "<%= edit.hostel %>" required>
            <datalist id="hostels">
                <option value="Zircon A"></option>
                <option value="Zircon B"></option>
                <option value="Zircon C"></option>
                <option value="Opal"></option>         
            </datalist>
        </div>

        <button type="submit">MODIFY</button>
    </form>
</body>
</html>

